div, ul, ol, li {
  margin: 0;
  padding: 0;
}
div {
  background: #eee;
  /*padding: 4px 0;*/
}
ol {
  /*margin-left: 8px;*/
  padding-left: 8px;
}
li {
  padding-left: 8px;
  position: relative;
  list-style: none;
}
input {
  /*display: none;*/
  width: 16px;
  margin: 0;
  /*margin-left: -8px;*/
  box-sizing: border-box;
}
input, label {
  cursor: pointer;
}
input ~ ol > li {
  display: none;
}
input:checked ~ ol > li {
  display: block;
}

.draft-tree {
  background: #fff;
  font-family: monospace;
  line-height: 1.4;

  max-width: 84ch;
  min-width: 24ch;
  padding: 16px;
}
.draft-tree-element {
  background: #fff;
  /*margin: 8px 0;*/
  /*margin-right: 8px;*/
  padding: 0 8px 8px;
}



.draft-tree ul {
  /*background: #f7f7f7;*/
  /*margin-left: -8px;*/
}
